<p class="text-sm text-gray-400 absolute bottom-0 p-5 w-full text-center">
  <a class="underline" href="https://forms.gle/o8MZped2C8AxZZCf6">give me feedback or report an error</a>
  ❤️ by <a class="underline" href="https://twitter.com/agonzalezro">@agonzalezro</a>
  🍪 <a class="underline" href="/cookies">cookies policy</a>
</p>
