<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="1105dd25-7423-42cf-9362-3d2b9ca4a80b" data-blockingmode="auto" type="text/javascript"></script>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "isketo.com", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCB5PSIuOWVtIiBmb250LXNpemU9IjkwIj7wn6WmPC90ZXh0Pjwvc3ZnPgo=">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9S4MRS4VJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z9S4MRS4VJ');
    </script>
  </head>
  <body class="bg-gradient-to-br from-white to-gray-100 h-screen">
    <%= @inner_content %>

    <script id="CookieDeclaration" src="https://consent.cookiebot.com/1105dd25-7423-42cf-9362-3d2b9ca4a80b/cd.js" type="text/javascript" async></script>
  </body>
</html>
