<h1
  class="bg-gradient-to-r from-green-300 to-green-800 text-transparent bg-clip-text
         text-6xl font-bold text-center
         pt-20"
>
  isketo.com
</h1>

<p class="text-2xl text-center pt-10">
  <span class="text-4xl pr-2">🥦</span> The easiest way to know if a recipe is
  compatible with your <strong>keto</strong> diet!
</p>

<form phx-submit="search" class="pt-10 w-full pl-3 pr-3 grid grid-cols-3 gap-4">
  <div class="col-span-3">
    <input
      class="outline-none border-2 rounded-xl center text-xl p-3 w-full"
      type="url"
      name="url"
      value="<%= @url %>"
      placeholder="Paste here the URL of the recipe"
      autocomplete="off"
    />
  </div>

  <div class="col-span-2 text-xl pl-1">
    <div class="pt-4 font-bold">
      <%= case @result do
        true -> "It is Keto! 🎉"
        false -> "No, don't eat it! 🤢"
        :i_do_not_know -> "Depends 🤷🏽‍♀️"
        Null -> ""
      end %>
    </div>
  </div>

  <div class="w-full pl-1">
    <button
      class="outline-none shadow bg-gradient-to-br from-green-300 to-green-500 text-white rounded-xl
      p-5"
      type="submit"
      phx-disable-with="Checking..."
    >
      🔍 Check
    </button>
  </div>
</form>
